*{margin:0;padding:0;box-sizing:border-box}
#titulo{
    text-align: center;
}

.floresta{
    position:relative;
    height:430px;
    overflow:hidden;
    border-radius:14px;
    background:linear-gradient(#91c976 );
    border:4px solid #27313a;
    box-shadow:0 12px 30px #0008
}


.bamboo {
     gap: 15px; 
    min-height: 100vh;
  margin: 0;
  /* Cria o padrão de bamboo vertical repetitivo */
  background: 
    linear-gradient(90deg, #1b3d1b 10%, transparent 2px) 0 0 / 60px 100%,
    linear-gradient(90deg, #2e5c1e 0%, #477b31 15%, #386426 85%, #1e4213 100%);
  background-color: #386426;
  position: relative;
}